*
!.gitignore
!coc
!coc/extensions
!coc/extensions/db.json
!coc/extensions/package.json
!nvim/**/*
!nvim
!i3/**/*
!i3
!terminator/**/*
!terminator/
!polybar/**/*
!polybar
!regolith/**/*
!regolith
!mimeapps.list
